# Environment
.env

# Uploads (runtime files)
Backend/uploads/

# Spring Boot
target/
*.log

# Node
node_modules/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.dbgit add .


.idea/
Backend/tokens/
Backend/petcare/src/main/resources/credentials.json
Backend/petcare/src/main/resources/google/

.idea/